:root {
  color-scheme: light;
}

body {
  margin: 0.5em auto;
  padding: 0.5em;
  max-width: 30em;
  font-family: sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 1.3em;
  color: #4c4c99;
  clear: both;
}

h3 {
  font-size: 1em;
  color: #4c4c99;
  clear: both;
}

pre {
  background: #ffffea;
}

li {
  padding: 0.25em;
}

footer {
  font-size: 0.8em;
  text-align: right;
}
